<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4"
        crossorigin="anonymous">

    <title>NPM Audit Report</title>
    <meta name="description" content="{{metadata.vulnerabilities.total}} known vulnerabilities found.">

    <style>
        .card {
            margin-bottom: 20px;
        }
        .toggle:hover{
            text-decoration: underline;
        }
    </style>

    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
  
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-md text-center">
                <h1>NPM Audit Report - {{moment date "MMMM Do YYYY, h:mm:ss a"}}</h1>
                  <div class="card">
                      <!--Summary card-->ß
                    <div class="card-body">
                        <h1 class="card-title">
                            Summary
                        </h1>
                        <h1 class="card-title">
                            <span class="badge badge-danger toggle cursor:pointer;" data-toggle="tooltip" title="Click to show/hide">Critical</span>
                            {{metadata.vulnerabilities.critical}}
                            <span class="badge badge-warning toggle cursor:pointer;" data-toggle="tooltip" title="Click to show/hide">High</span>
                            {{metadata.vulnerabilities.high}}
                            <span class="badge badge-secondary toggle cursor:pointer;" data-toggle="tooltip" title="Click to show/hide">Moderate</span>
                            {{metadata.vulnerabilities.moderate}}
                            <span class="badge badge-primary toggle cursor:pointer;" data-toggle="tooltip" title="Click to show/hide">Low</span>
                            {{metadata.vulnerabilities.low}}
                            <span class="badge badge-info toggle cursor:pointer;" data-toggle="tooltip" title="Click to show/hide">Info</span>
                            {{metadata.vulnerabilities.info}}
                        </h1>
                </div>
                </div>
                </p>
            </div>
        </div>
        <div class="row">
            {{#each advisories}}
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <h1 class="card-title">
                            <span class="badge badge-{{severityClass severity}}">{{severity}}</span>
                            {{title}}
                        </h1>
                        <div class="row">
                            <div class="col-md-6">
                                <ul>
                                    <li>Module:
                                        <a href="https://npmjs.com/package/{{module_name}}">{{module_name}}</a>
                                    </li>
                                    <li>Published: {{moment created "MMMM Do YYYY"}} </li>
                                    <li>Reported by: {{reported_by.name}}</li>
                                    <li>{{cwe}}</li>
                                    {{#each cves}}
                                    <li>{{this}}</li>
                                    {{/each}}
                                </ul>
                            </div>
                            <div class="col-md-6">
                                <ul>
                                    <li>Vulnerable: {{vulnerable_versions}}</li>
                                    <li>Patched: {{patched_versions}}</li>
                                    <li>Exploitability: {{metadata.exploitability}}</li>
                                </ul>
                            </div>
                        </div>
                        <h3>Overview</h3>
                        <p class="card-text">{{{markdown overview}}}</p>

                        <h3>Findings</h3>
						{{#each findings}}							
							<ul>
							{{#each paths}}
								<li>{{this}} </li>
							{{/each}}
							</ul>
						{{/each}}

                        {{#if recommendation}}
                        <h3>Remediation</h3>
                        <p class="card-text">{{{markdown recommendation}}}</p>
                        {{/if}} {{#if references}}
                        <h3>References</h3>
                        <p class="card-text">{{{markdown references}}}</p>
                        {{/if}} {{#if action}}
                        <h3>Action</h3>
                        <p class="card-text">
                            <code>npm {{action.action}} {{action.module}} {{#if action.depth}}--depth={{action.depth}}{{/if}}</code>
                        </p>
                        {{/if}}

                        <a href="{{url}}" class="btn btn-primary">More about this vulnerability</a>
                    </div>
                </div>
            </div>{{/each}}
        </div>
    </div>

<!--Script to toggle the vuls based on the click on the summary card -->
  <script>
    $( ".toggle" ).on('click', function() {
        if($(this).hasClass( "badge-danger" )){
            $('.badge-danger').closest('.col-md-12').toggle();
        } else if($(this).hasClass( "badge-warning" )){
            $('.badge-warning').closest('.col-md-12').toggle();
        } else if($(this).hasClass( "badge-secondary" )){
            $('.badge-secondary').closest('.col-md-12').toggle();
        } else if($(this).hasClass( "badge-primary" )){
            $('.badge-primary').closest('.col-md-12').toggle();
        } else if($(this).hasClass( "badge-info" )){
            $('.badge-info').closest('.col-md-12').toggle();
        }
    });
    </script>

</body>

</html>