<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet"
        href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css"
        integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.20/datatables.min.css" />
    <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@10.3.1/build/styles/atom-one-dark.min.css">

    <title>NPM Audit Report</title>
    <meta name="description" content="{{numeral overview.totalVulnerabilities "0,0"}} known vulnerabilities found.">

    <style>
        pre {
            background-color: #333333;
            padding: 15px;
        }

        pre code {
            color: #fff;
        }
    </style>

    {{#if_eq theme 'dark'}}
    <style>
        body {
            color: #fff;
            background-color: #1e1e1e;
        }

        .card {
            background-color: #252526;
        }

        .table thead th {
            color: #fff
        }

        .modal-content {
            background-color: #252526;
        }

        code {
            color: #c586c0
        }

        a {
            color: #9cdcfe;
        }

        a:hover {
            color: #9cdcfe;
            opacity: 0.667;

        }

        .close {
            color: #fff;
        }

        .close:hover {
            color: #fff;
            text-decoration: none;
        }

        .table thead th {
            border-bottom: 2px solid #444;
        }

        .table th,
        .table td {
            border-top: 1px solid #444;
        }

        .form-control {
            background-color: #333333;
            color: #fff;
        }

        .form-control:focus {
            background-color: #333333;
            color: #fff;
        }

        .page-link {
            color: #9cdcfe;
        }

        .page-item.active .page-link {
            color: #000;
            background-color: #9cdcfe;
            border-color: #9cdcfe;
        }
    </style>
    {{/if_eq}}
</head>

<body class="mb-3">
    <div class="container">
        <h1 class="mt-5 text-center">NPM Audit Report</h1>

        <div class="text-center">
            <div class="card-deck my-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">
                            {{numeral overview.totalVulnerabilities "0,0"}}
                        </h5>
                        <p class="card-text">Known vulnerable dependencies</p>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">
                            {{numeral overview.totalDependencies "0,0"}}
                        </h5>
                        <p class="card-text">Dependencies</p>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">
                            {{moment createdAt "MMMM Do YYYY, h:mm:ss a"}}
                        </h5>
                        <p class="card-text">Last updated</p>
                    </div>
                </div>
            </div>
            <div class="card-deck my-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">
                            {{numeral overview.critical "0,0"}}
                        </h5>
                        <p class="card-text">
                            <span class="badge badge-{{severityClass 'critical'}}">critical</span>
                        </p>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">
                            {{numeral overview.high "0,0"}}
                        </h5>
                        <p class="card-text">
                            <span class="badge badge-{{severityClass 'high'}}">high</span>
                        </p>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">
                            {{numeral overview.moderate "0,0"}}
                        </h5>
                        <p class="card-text">
                            <span class="badge badge-{{severityClass 'moderate'}}">moderate</span>
                        </p>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">
                            {{numeral overview.low "0,0"}}
                        </h5>
                        <p class="card-text">
                            <span class="badge badge-{{severityClass 'low'}}">low</span>
                        </p>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">
                            {{numeral overview.info "0,0"}}
                        </h5>
                        <p class="card-text">
                            <span class="badge badge-{{severityClass 'info'}}">info</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col">

                <table id="advisories" class="table">
                    <thead>
                        <tr>
                            <th scope="col">Module</th>
                            <th scope="col">Severity</th>
                            <th scope="col">Issues</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each vulnerabilities}}
                        <tr>
                            <th scope="row">
                                <a href="https://npmjs.com/package/{{name}}" target="_blank" rel="noopener">{{name}}</a>
                            </th>
                            <td data-order="{{severityNumber severity}}"><span
                                    class="badge badge-{{severityClass severity}}">{{severity}}</span></td>
                            <td>
                                <a href="{{url}}" data-toggle="modal"
                                    data-target="#advisory-modal-{{name}}">{{via.length}}</a>
                            </td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>


    {{#each vulnerabilities}}
    <div class="modal" tabindex="-1" role="dialog" id="advisory-modal-{{name}}">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">
                        <span class="badge badge-{{severityClass severity}}">{{severity}}</span>
                        <a href="https://npmjs.com/package/{{name}}" target="_blank" rel="noopener"> {{name}}</a>
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <h3>Findings</h3>
                    <ul>
                        {{#each via}}
                        {{#if title}}
                        <li><span class="badge badge-{{severityClass severity}}">{{severity}}</span>
                            {{title}} - <a href="{{url}}">{{url}}</a>
                        </li>
                        {{else}}
                        <li>
                            <a href="{{url}}" data-toggle="modal" data-target="#advisory-modal-{{this}}"
                                data-dismiss="modal">{{this}}</a>
                        </li>
                        {{/if}}
                        {{/each}}
                    </ul>


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-raised btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    {{/each}}

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.20/datatables.min.js"></script>

    <script>
        $(document).ready(function () {
            $('#advisories').DataTable({
                order: [[2, 'asc']]
            });
        });
    </script>
</body>

</html>